a{
    font-size: 24px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.circle{
    margin-top: 300px;
    background-color: crimson;
    height: 200px;
    width: 200px;
    border-radius: 50%;

}
.circle:hover{
   width: 200px;
   height: 100px;
   border-radius: 0%;
}