
body{
    background-color: #90e5ff
    }
.title{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.box-1{
    height: 300px;
    width: 400px;
    background-color: rgba(224, 230, 235, 0.563);
    flex-direction: column;
    font-size: 25px;
    border-radius: 10px;
    padding: 15px;
}
.box-2{
    height: 300px;
    width: 400px;
    background-color: rgba(224, 230, 235, 0.563);
    flex-direction: column;
    font-size: 25px;
    border-radius: 10px;
    padding: 15px;
}
.box-3{
    height: 300px;
    width: 400px;
    background-color: rgba(224, 230, 235, 0.563);
    flex-direction: column;
    font-size: 25px;
    border-radius: 10px;
    padding: 15px;

}
.container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
}
#options{
    display: flex ;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 25px; 
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;

}
#options li{
    margin-left: 20px; 
}
.title-2{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.started{
    display: flex;
    justify-content: center;
}   
p{
    font-size: 20px;
}
#icon-1{
    height: 30px;
    width: 30px;
}
#icon-2{
    height: 30px;
    width: 30px;
}
#icon-3{
    height: 30px;
    width: 30px;
}
.blue-icon{
    display: flex;
    justify-content: center;
    

}
.join{
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
button2{
    color: white;
    background-color: blue;
    font-size: medium;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

} 
button{
    color: white;
    background-color: blue;
    font-size: 25px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: auto;

} 
.bub{
    display: flex;
    justify-content: space-between;
}